
<!--heading for home page
h1 {
    font-size: 200%; 
    color: #00cc33;
    text-align: left;
}  

body {
    margin: 0%;
    padding:0%;
    font-family: Arial, Helvetica, sans-serif;
}
 <!--Reflection 
.now  { color:#00cc33;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;

 }
 
 
  
